:root {
  --bg-color: #0D0D0D;
  --fg-color: #BFA688;
  --border-color: #1A2601;
  --header-color: #2C4002;
  --text-color: #1A2601;
}

* {
  margin: 0;
  padding: 0;

  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
}

.main-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 853px;
  height: 360px;

  border-width: 4px;
  border-style: solid;
  border-color: var(--border-color);

  box-shadow: 1px 1px #333;
}

.header {
  background-color: var(--header-color);
  overflow: hidden;
  height: 16px;
}

.header > p {
  white-space: nowrap;
}

.header > p > span {
  width: 100%;
}

.header > p > span {
  display: inline-block;
}

.content-container {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.image-container {
  height: 100%;
}

.image-container > img {
  max-height: 100%;
  transform: translateX(-1px);
}

.links-container {
  background-color: var(--fg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.link-container {
  width: 75%;
  text-align: center;
  color: var(--text-color);
}

.link-container > h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

.list-group-item {
  text-decoration: none;
  color: var(--text-color);
  margin: 10px;
  line-height: 20px;
}