* {
  margin: 0;
  padding: 0;

  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.main-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 853px;
  height: 480px;

  border-width: 4px;
  border-style: solid;
  border-color: #C29BA3;

  box-shadow: 1px 1px #333;
}

.header {
  background-color: #9368A6;
  overflow: hidden;
}

.header > p {
  white-space: nowrap;
}

.header > p > span {
  width: 100%;
}

.header > p > span:first-child {
  display: inline-block;
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.header > p > span:last-child {
  display: inline-block;
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}
