* {
  margin: 0;
  padding: 0;

  font-family: monospace;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.main-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 360px;

  border-width: 4px;
  border-style: solid;
  border-color: #C29BA3;

  box-shadow: 1px 1px #333;
}

.header {
  background-color: #9368A6;
}